---
title: Home-RedPanthers
---

<div class="welcome">
  <h1>Red Panthers</h1>


  <p class="ddd">
 
  <h2>About Us</h2>
 
    Red Panthers is a software consultancy that specialises in Ruby on Rails. We use an innovative unit (pair) based model in all our projects. As part of the model we use of modern agile project management methodologies, interaction design, effective product strategy, trust, transparency and a carefully selected suite of tools to ensure that our clients get the best technological solutions possible as we turn their ideas into scalable and maintainable products. We believe in focusing on the future and moving forward
<h2>Vision</h2>
     
     To become one of the world's leading companies and bring innovations that improve the way the world builds products and foster technological growth 
     
     <h2>Culture</h2>
     
        We’ve always wanted Red Panthers to be a place that brought together smart, talented people from diverse backgrounds, and where you could bring your whole self to work. Working with smart, talented colleagues in a free, innovative environment is the dream of all people. Here at Red Panthers we 
        provide a platform for everyone to present their ideas, chose and work on disrupting technologies. %article
 
 
  </p>



  <p class="doc">
    <%= link_to "About Us", "https://redpanthers.co/about", target: "_blank" %>
    <%= link_to "Home", "https://redpanthers.co/about", target: "_blank" %>
    <%= link_to "Services", "https://redpanthers.co/services", target: "_blank" %>
    <%= link_to "Careers", "https://redpanthers.co/openings", target: "_blank" %>
    <%= link_to "Blog", "http://blog.redpanthers.co/", target: "_blank" %>
    <%= link_to "Contact", "https://redpanthers.co/contact", target: "_blank" %>
    
  </p><!-- .doc -->
</div><!-- .welcome -->
