---
title: RedPanthers
---

<div class="welcome">
  <h1>Red Panthers</h1>
  <div class="logo">
    <%= image_tag "image1.jpg" %>
  </div>
  
  <p class="doc">
    <%= link_to "About Us", "https://redpanthers.co/about", target: "_blank" %>
    <%= link_to "Home", "https://redpanthers.co/about", target: "_blank" %>
    <%= link_to "Services", "https://redpanthers.co/services", target: "_blank" %>
    <%= link_to "Careers", "https://redpanthers.co/openings", target: "_blank" %>
    <%= link_to "Blog", "http://blog.redpanthers.co/", target: "_blank" %>
    <%= link_to "Contact", "https://redpanthers.co/contact", target: "_blank" %>
    
  </p><!-- .doc -->
</div><!-- .welcome -->
